.topbar
  .wrapper.clearfix{style: 'position: relative;'}
    .logo
      %a{href: root_path}
        = image_tag 'logo.png'
    .navigation{style: 'position: absolute; right: 0px;'}
      %a.nav{href: '/who-we-are', class: (params[:controller] == 'pages' and params[:action] == 'whoweare') ? 'active' : ''}
        Кто
        %br
        мы
      %a.nav{href: '/what-we-do', class: (params[:controller] == 'pages' and params[:action] == 'whatwedo') ? 'active' : ''}
        Что
        %br
        мы
        %br
        делаем
      %a.nav{href: '/how-we-work', class: (params[:controller] == 'pages' and params[:action] == 'howwework') ? 'active' : ''}
        Как
        %br
        мы
        %br
        работаем
      %a.nav{href: '/why-zz', class: (params[:controller] == 'pages' and params[:action] == 'whyzz') ? 'active' : ''}
        Почему
        %br
        Z&Z