.backgrounds
  .background.berlin

= render partial: 'pages/navigation'

.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Как мы работаем
    .text{style: 'overflow-y: hidden;'}
      %h6
        Придерживаясь искренности и честности:

      %ul
        %li слушаем клиентов, понимая их потребности
        %li Качественно разрабатываем и внедряем в жизнь любые проекты
        %li целенаправленно создаем инновационные продукты и услуги, соединяя знания, компетенции и опыт из разных сфер бизнеса
        %li экспериментируем с новыми бизнес-моделями для получения реального положительного коммерческого результата
        %li используем взаимодействие с партнерами для создания уникальных продуктов и услуг
        %li взаимодействуем с иностранными партнерами для решения задач инновационного развития и получения доступа к технологиям
        %li разрабатываем эффективные инновационные стратегии
        %li применяем системный план действий, соединяя возможности с потребностями
        %li используем комплексный подход  и широкий диапазон инструментов для достижения целей
        %li гарантируем  конфиденциальность полученной информации


= render partial: 'application/footer'
