.topblock
  .backgrounds
    .background.berlin

  = render partial: 'pages/navigation'

  .title
    Как мы работаем

  .subtitle
    Придерживаемся искренности и честности



.section
  .wrapper
    %ul.thumbnails.clearfix
      %li
        Слушаем клиентов,
        %span.bold понимая их потребности

      %li
        Качественно разрабатываем и
        %span.bold внедряем в жизнь любые проекты

      %li
        Целенаправленно
        %span.bold создаем инновационные продукты и услуги,
        соединяя знания, компетенции и опыт из разных сфер бизнеса

      %li
        Экспериментируем с новыми бизнес-моделями и
        %span.bold получаем реальный положительный коммерческий результат

      %li
        Взаимодействуем с партнерами для
        %span.bold  создания уникальных продуктов и услуг
      %li
        Взаимодействуем с иностранными партнерами
        %span.bold для решения задач инновационного развития и получения доступа к технологиям
      %li
        %span.bold Разрабатываем эффективные инновационные стратегии

      %li
        %span.bold Применяем системный план действий
        , соединяя возможности с потребностями
      %li
        Используем комплексный подход  и широкий диапазон инструментов
        %span.bold для достижения целей


.inner-footer.clearfix
  .wrapper
    %ul.bottom-navigation
      %li
        %a{href: '#'} Главная

      %li
        %a{href: '#'} Кто мы

      %li
        %a{href: '#'} Как мы работаем

      %li
        %a{href: '#'} Контакты

      %li
        %a{href: '#'} Что мы делаем

      %li
        %a{href: '#'} Почему Z&Z

    .footer-logo
      = image_tag 'logo.png'


