.backgrounds
  .background.berlin

= render partial: 'pages/navigation'

.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Как мы работаем
    .text{style: 'overflow-y: hidden;'}
      %h6
        Придерживаясь искренности и честности:

      %ul
        %li Слушаем клиентов, понимая их потребности
        %li Качественно разрабатываем и внедряем в жизнь любые проекты
        %li Целенаправленно создаем инновационные продукты и услуги, соединяя знания, компетенции и опыт из разных сфер бизнеса
        %li Экспериментируем с новыми бизнес-моделями для получения реального положительного коммерческого результата
        %li Используем взаимодействие с партнерами для создания уникальных продуктов и услуг
        %li Взаимодействуем с иностранными партнерами для решения задач инновационного развития и получения доступа к технологиям
        %li Разрабатываем эффективные инновационные стратегии
        %li Применяем системный план действий, соединяя возможности с потребностями
        %li Используем комплексный подход  и широкий диапазон инструментов для достижения целей
        %li Гарантируем  конфиденциальность полученной информации


= render partial: 'application/footer'
