.backgrounds
  .background.moscow

.topbar
  .wrapper.clearfix
    .logo
      = image_tag 'logo.png'
    .navigation
      .nav.active
        Кто
        %br
        мы
      .nav
        Что
        %br
        мы
        %br
        делаем
      .nav
        Как
        %br
        мы
        %br
        работаем
      .nav
        Почему
        %br
        Z&Z


.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Кто мы
    .text
      %p
        Компания “ Z&Z” Group- основана в Москве и
        состоит из экспертов международного уровня, которых объединяют знания, компетенции, опыт в области финансов, экономики, маркетинга и PR

      %p
        Команда профессионалов со знанием
        иностранных языков и бизнес-связями
        на локальном и глобальном уровнях

      %p
        Наша цель - эффективная и активная  поддержка Вашего бизнеса, разработка и осуществление
        изменений для достижения коммерческого успеха
      %p
        Мы  предоставляем широкий спектр услуг в
        области проектирования бизнеса и  коммуникации для того, чтобы двигать бизнес вперед и
        выстраивать партнерское доверие


.footer
  .wrapper
    .contacts-widget
      129226, Москва,
      %br
      Проспект Мира 131/3,
      %br
      %br
      8 495 800 80 80
    .language-widget
      = 'RU'
      %br
      %br
      .inactive EN

