#map{style: 'position: absolute; width: 100%; height: 100%; z-index: 0'}
  
= render partial: 'pages/navigation'

#contacts
  .label
    Контакты

  .info
    129226, Москва,
    %br
    Проспект Мира 131/3
    %br
    %br
    8 495 800 80 80