.topblock.dubai
  = render partial: 'pages/navigation'

  .title
    Что мы предлагаем

  .subtitle
    Искренне и честно обеспечиваем качественное решение бизнес-задач


.section
  .wrapper
    .title
      BUSINESS DESIGN:

    %ul.thumbnails.clearfix
      %li Вывод российских и иностранных компаний на международные рынки, консультирование при создании бренда международного уровня
      %li Инновационное проектирование и консультирование в области инноваций (аудит, анализ  потенциала, построение стратегий)
      %li Стратегическое проектирование и консалтинг (разработка и внедрение стратегий: маркетинговых, финансовых; анализ и модернизация стратегий развития)
      %li Уполномоченный посол брендов на международном уровне
      %li Поддержка иностранных компаний и представление их интересов  в России
      %li Поддержка и представление интересов российских компаний за рубежом
      %li Поиск и внедрение креативных идей, дизайнерских решений (re–freshing компаний)
      %li Организация внешнего финансирования инвестиционных проектов с положительным эффектом
      %li Инновационный спортивный консалтинг в области коммерциализации спорта (спортивных арен и в проектах, касающихся  naming rights & sponsoring)


.section.striped
  .wrapper
    .title
      СOMMUNICATION DESIGN:

    %ul.thumbnails.clearfix
      %li Коммуникационное проектирование (кризисное, финансовое, media relations, пресс-конференции)
      %li
        Reputation management на локальном и глобальном уровнях
        %br
        %br
      %li PR активности & event design на локальном и глобальном уровне
      %li PR- retail
      %li GR на международном уровне
      %li Лоббирование интересов на государственном уровне и коммерческом секторе


.inner-footer.striped.clearfix
  = render partial: 'application/inner_footer_content'

