.backgrounds
  .background.pekin

= render partial: 'pages/navigation'

.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Что мы делаем
    .text
      %h6
        Искренне и честно обеспечиваем качественное решение бизнес-задач, предлагая услуги:

      %h6
        BUSINESS DESIGN:

      %ul
        %li вывод российских и иностранных компаний на международные рынки, консультирование при создании бренда международного уровня
        %li инновационное проектирование и консультирование в области инноваций (аудит, анализ  потенциала, построение стратегий)
        %li стратегическое проектирование и консалтинг (разработка и внедрение стратегий: маркетинговых, финансовых; анализ и модернизация стратегий развития)
        %li уполномоченный посол брендов на международном уровне
        %li поддержка иностранных компаний и представление их интересов  в России
        %li поддержка и представление интересов российских компаний за рубежом
        %li поиск и внедрение креативных идей, дизайнерских решений (re–freshing компаний)
        %li организация внешнего финансирования инвестиционных проектов с положительным эффектом
        %li инновационный спортивный консалтинг в области коммерциализации спорта (спортивных арен и в проектах, касающихся  naming rights & sponsoring)

      %h6
        СOMMUNICATION DESIGN:

      %ul
        %li коммуникационное проектирование (кризисное, финансовое, media relations, пресс-конференции)
        %li reputation management на локальном и глобальном уровнях
        %li PR активности & event design на локальном и глобальном уровне
        %li PR- retail
        %li GR на международном уровне
        %li Лоббирование интересов на государственном уровне и коммерческом секторе


= render partial: 'application/footer'
