.topblock
  .backgrounds
    .background.moscow

  = render partial: 'pages/navigation'

  .title
    Кто мы

  .subtitle
    Команда профессионалов со знанием
    иностранных языков и бизнес-связями
    на локальном и глобальном уровнях



.section.centered
  .wrapper
    .text
      Компания «Z&Z» Group- оснmmmmttована в Москве
      %br
      и состоит из экспертов международного уровня,
      %br
      которых объединяют знания, компетенции, опыт в области финансов, экономики, маркетинга и PR


.section.striped.centered
  .wrapper
    .title
      НАША ЦЕЛЬ

    .text
      Эффективная и активная  поддержка Вашего бизнеса,
      %br
      разработка и осуществление
      %br
      изменений для достижения коммерческого успеха


.section.centered
  .wrapper

    .text
      Мы  предоставляем широкий спектр услуг
      %br
      в области проектирования
      %br
      бизнеса и  коммуникации для того,
      %br
      чтобы двигать бизнес вперед и
      %br
      выстраивать партнерское доверие



.inner-footer.clearfix.stiped
  .wrapper
    %ul.bottom-navigation
      %li
        %a{href: '#'} Главная

      %li
        %a{href: '#'} Кто мы

      %li
        %a{href: '#'} Как мы работаем

      %li
        %a{href: '#'} Контакты

      %li
        %a{href: '#'} Что мы делаем

      %li
        %a{href: '#'} Почему Z&Z

    .footer-logo
      = image_tag 'logo.png'



-#= render partial: 'application/footer'

