.backgrounds
  .background.delhi

= render partial: 'pages/navigation'


.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Кто мы
    .text{style: 'overflow-y: hidden;'}
      %p
        Компания “Z&Z” Group основана в Москве и
        состоит из экспертов международного уровня, которых объединяют знания, компетенции, опыт в области финансов, экономики, маркетинга и PR

      %p
        Команда профессионалов со знанием
        иностранных языков и бизнес-связями
        на локальном и глобальном уровнях

      %p
        Наша цель - эффективная и активная  поддержка Вашего бизнеса, разработка и осуществление
        изменений для достижения коммерческого успеха
      %p{style: 'margin-bottom: 0px;'}
        Мы  предоставляем широкий спектр услуг в
        области проектирования бизнеса и  коммуникации для того, чтобы двигать бизнес вперед и
        выстраивать партнерское доверие


= render partial: 'application/footer'

