.topblock.moscow

  = render partial: 'pages/navigation'

  .title
    Кто мы

  .subtitle
    Команда профессионалов со знанием
    иностранных языков и бизнес-связями
    на локальном и глобальном уровнях



.section.centered
  .wrapper
    .text
      Компания «Z&Z» Group основана в Москве
      %br
      и состоит из экспертов международного уровня,
      %br
      которых объединяют знания, компетенции, опыт в области финансов, экономики, маркетинга и PR


.section.striped.centered
  .wrapper
    .title
      НАША ЦЕЛЬ

    .text
      Эффективная и активная  поддержка Вашего бизнеса,
      %br
      разработка и осуществление
      %br
      изменений для достижения коммерческого успеха


.section.centered
  .wrapper

    .text
      Мы  предоставляем широкий спектр услуг
      %br
      в области проектирования
      %br
      бизнеса и  коммуникации для того,
      %br
      чтобы двигать бизнес вперед и
      %br
      выстраивать партнерское доверие



.inner-footer.clearfix.stiped
  = render partial: 'application/inner_footer_content'