.topblock
  .backgrounds
    .background.singapure

  = render partial: 'pages/navigation'

  .title
    Почему нас выбирают


.section
  .wrapper
    .title
      НАШ ОПЫТ

    .subtitle
      Нашу работу по достоинству оценили многие клиенты и партнеры из различных отраслей экономики, такие как SPLAT, ДССИ, BetterAir, DKSH, GAZPROMBANK India, АФК Система
      и др., для  которых мы:

    %ul.thumbnails.clearfix
      %li Разработали и внедрили стратегию глобальной экспансии (вывели партнеров на новый уровень в России и за рубежом)
      %li
        Организовали внешнее финансирование для инвестиционных проектов
        разработали и внедрили коммуникационные
        стратегии & PR в России и за рубежом)
      %li
        Привлекли новых партнеров на локальном и международном рынках
      %li
        Простимулировали рост на локальном и международном рынках
      %li
        Провели аудит и проконсультировали в области инновации
      %li
        Выстроили и сделали успешным ОТС бизнес
      %li
        %br
      %li
        Внедрили проекты с перекрестными продажами

    .center{style: 'text-align: center; margin: 100px 0;'}
      = image_tag 'brands.png'


.inner-footer.clearfix
  .wrapper
    %ul.bottom-navigation
      %li
        %a{href: '#'} Главная

      %li
        %a{href: '#'} Кто мы

      %li
        %a{href: '#'} Как мы работаем

      %li
        %a{href: '#'} Контакты

      %li
        %a{href: '#'} Что мы делаем

      %li
        %a{href: '#'} Почему Z&Z

    .footer-logo
      = image_tag 'logo.png'
