.backgrounds
  .background.dubai

= render partial: 'pages/navigation'


.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Почему нас выбирают
    .text
      %h6 МЫ ЗНАЕМ КАК:

      %ul
        %li строить эффективные стратегии для успешного бизнеса
        %li защитить бизнес от кризиса
        %li создать уникальный продукт
        %li выстроить и поддерживать отношения с Вашими партнерами
        %li превращать отношения с партнерами в  финансовые результаты
        %li собрать и проанализировать информацию
        %li слушать, писать , читать и говорить на русском, английском, польском, испанском, французском, китайском языках
        %li Добиваться результатов и быть успешными на локальном и глобальном рынкаХ

      %h6 ОПЫТ:

      %p
        Нашу работу по достоинству оценили многие клиенты и партнеры из различных отраслей экономики, такие как SPLAT, ДССИ, BetterAir, DKSH, GAZPROMBANK India, АФК Система и др., для  которых мы:

      %ul
        %li разработали и внедрили стратегию глобальной экспансии (вывели партнеров на новый уровень в России и за рубежом)
        %li организовали внешнее финансирование для инвестиционных проектов
        %li разработали и внедрили коммуникационные стратегии & PR в России и за рубежом
        %li привлекли новых партнеров на локальном и международном рынках
        %li простимулировали рост на локальном и международном рынках
        %li провели аудит и проконсультировали в области инновации
        %li выстроили и сделали успешным ОТС бизнес
        %li внедрили проекты с перекрестными продажами

= render partial: 'application/footer'
