.backgrounds
  .background.dubai

= render partial: 'pages/navigation'


.wrapper{style: 'position: relative; height: 560px; padding-top: 200px;'}
  .content
    .title
      Почему нас выбирают
    .text
      %h6 МЫ ЗНАЕМ КАК:

      %ul
        %li Cтроить эффективные стратегии для успешного бизнеса
        %li Защитить бизнес от кризиса
        %li Создать уникальный продукт
        %li Выстроить и поддерживать отношения с Вашими партнерами
        %li Превращать отношения с партнерами в  финансовые результаты
        %li Собрать и проанализировать информацию
        %li Слушать, писать , читать и говорить на русском, английском, польском, испанском, французском, китайском языках
        %li Добиваться результатов и быть успешными на локальном и глобальном рынкаХ

      %h6 ОПЫТ:

      %p
        Нашу работу по достоинству оценили многие клиенты и партнеры из различных отраслей экономики, такие как SPLAT, ДССИ, BetterAir, DKSH, GAZPROMBANK India, АФК Система и др., для  которых мы:

      %ul
        %li Разработали и внедрили стратегию глобальной экспансии (вывели партнеров на новый уровень в России и за рубежом)
        %li Организовали внешнее финансирование для инвестиционных проектов
        %li Разработали и внедрили коммуникационные стратегии & PR в России и за рубежом
        %li Привлекли новых партнеров на локальном и международном рынках
        %li Простимулировали рост на локальном и международном рынках
        %li Провели аудит и проконсультировали в области инновации
        %li Выстроили и сделали успешным ОТС бизнес
        %li Внедрили проекты с перекрестными продажами

= render partial: 'application/footer'
