.topblock.singapure

  = render partial: 'pages/navigation'

  .title
    Почему нас выбирают


.section
  .wrapper
    .title
      НАШ ОПЫТ

    .subtitle
      Нашу работу по достоинству оценили многие клиенты и партнеры из различных отраслей экономики, такие как SPLAT, ДССИ, BetterAir, DKSH, GAZPROMBANK India, АФК Система
      и др., для  которых мы:

    %ul.thumbnails.clearfix
      %li Разработали и внедрили стратегию глобальной экспансии (вывели партнеров на новый уровень в России и за рубежом)
      %li
        Организовали внешнее финансирование для инвестиционных проектов
        разработали и внедрили коммуникационные
        стратегии & PR в России и за рубежом)
      %li
        Привлекли новых партнеров на локальном и международном рынках
      %li
        Простимулировали рост на локальном и международном рынках
      %li
        Провели аудит и проконсультировали в области инновации
      %li
        Выстроили и сделали успешным ОТС бизнес
      %li.mobile
        %br
      %li
        Внедрили проекты с перекрестными продажами

    .brands
      = image_tag 'brands.png'


.inner-footer.clearfix
  = render partial: 'application/inner_footer_content'