@font-face
  font-family: 'CodePro-Light'
  src: asset-url('fonts/code_pro_light.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CodePro-Bold'
  src: asset-url('fonts/code_pro_bold.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CodePro'
  src: asset-url('fonts/code_pro.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Light'
  src: asset-url('fonts/HelveticaNeueCyr-Light.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Thin'
  src: asset-url('fonts/HelveticaNeueCyr-Thin.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Bold'
  src: asset-url('fonts/HelveticaNeueCyr-Bold.otf') format("opentype")
  font-weight: normal
  font-style: normal


::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background: rgba(0,0,0, 0.6)

::-webkit-scrollbar-thumb
  background: #425677


body
  background: #17263f
  //overflow: hidden
  min-width: 1200px
  min-height: 600px


  @media screen and (min-device-width: 320px) and (max-device-width: 568px)
    min-width: 320px



.index-wrapper
  width: 80%
  margin: 0px auto

.wrapper
  width: 1120px
  margin: 0px auto

  @media screen and (max-width: 640px)
    width: 320px

  @media screen and (max-device-width: 320px)
    width: 320px

.clearfix
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

.relative
  position: relative

.inheritance-height
  height: 100%


.backgrounds
  position: fixed
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  z-index: -1

  .background
    width: 100%
    height: 100%
    position: absolute
    top: 0px
    left: 0px

    &.moscow
      display: block
      background: asset-url('backgrounds/moscow.jpg') no-repeat
      background-size: cover
      z-index: 3

    &.pekin
      background: asset-url('backgrounds/pekin.jpg') no-repeat
      background-size: cover

    &.dubai
      background: asset-url('backgrounds/dubai.jpg') no-repeat
      background-size: cover

    &.delhi
      background: asset-url('backgrounds/delhi.jpg') no-repeat
      background-size: cover

    &.singapure
      background: asset-url('backgrounds/singapure.jpg') no-repeat
      background-size: cover

    &.barselona
      background: asset-url('backgrounds/barselona.jpg') no-repeat
      background-size: cover

    &.berlin
      background: asset-url('backgrounds/berlin.jpg') no-repeat
      background-size: cover

    &.varshava
      background: asset-url('backgrounds/warsaw.jpg') no-repeat
      background-size: cover

    &.hongkong
      background: asset-url('backgrounds/hong_kong.jpg') no-repeat
      background-size: cover


.topbar
  width: 100%
  height: 200px
  z-index: 5

  @media screen and (max-height: 750px)
    height: 100px

  @media screen and (min-device-width: 320px) and (max-device-width: 568px)
    padding-top: 80px



  .logo
    float: left
    position: relative
    width: 130px
    height: 200px

    @media screen and (min-device-width: 320px) and (max-device-width: 568px)
      width: 100px
      float: none
      margin: 0px auto




    @media screen and (max-height: 750px)
      height: 100px

    //background: red

    img
      position: absolute
      left: 0px
      bottom: 0px

      @media screen and (max-height: 750px)
        width: 100px


  .navigation
    float: right

    @media screen and (min-device-width: 320px) and (max-device-width: 568px)
      display: none

    .nav
      float: left
      display: block
      width: 160px
      height: 100px
      text-align: left
      padding-left: 30px
      padding-top: 100px

      text-decoration: none
      color: #fff

      color: #eaeaea
      font-family: 'CodePro-Light'
      font-size: 24px
      letter-spacing: 0.1em

      cursor: pointer

      transition: all 0.4s linear
      -webkit-transition: all 0.4s linear

      @media screen and (max-height: 750px)
        height: 80px
        padding-top: 20px
        font-size: 20px

      &:hover
        background: rgba(23, 38, 63, 0.8)

      &.active
        border-bottom: 10px solid #fafafa


.intro
  //padding-top: 200px
  //background: #000
  position: relative


  .cities

    padding: 100px 0


    @media screen and (min-device-width: 320px) and (max-device-width: 568px)
      display: none


    .city
      padding-left: 12px
      color: #eaeaea
      font-family: 'CodePro-Light'
      font-size: 24px
      margin-bottom: 25px
      letter-spacing: 0.2em
      opacity: 0.1

      @media screen and (max-width: 1400px)
        font-size: 18px


.slogan

  //background: red

  position:  absolute
  top: 50%
  left: 50%

  margin-top: -125px
  margin-left: -305px

  width: 710px
  height: 250px

  color: #eaeaea
  font-family: 'CodePro-Bold'
  font-size: 51px
  letter-spacing: 0.2em

  @media screen and (max-width: 1400px)
    width: 540px
    margin-left: -270px
    font-size: 42px

  @media screen and (min-device-width: 320px) and (max-device-width: 568px)
    width: 300px
    margin: 0px auto
    position: static
    font-size: 20px
    line-height: 1.5
    margin-top: 75px



.footer
  position: fixed
  bottom: 0px
  left: 0px

  width: 100%
  min-width: 1200px
  height: 120px

  @media screen and (max-height: 600px)
    display: none

  @media screen and (max-height: 900px)
    height: 40px

  @media screen and (min-device-width: 320px) and (max-device-width: 568px)
    display: none

  .contacts-widget
    float: right
    background: #17263f
    font-family: 'CodePro-Light'
    color: #fafafa
    letter-spacing: 0.1em
    cursor: pointer
    text-decoration: none


    &.big
      width: 375px
      height: 95px
      padding-left: 65px
      padding-top: 25px

      @media screen and (max-height: 900px)
        display: none

      &:hover
        background: #2d4a7b

        .contacts-content
          display: none

        .contacts-more-info
          display: block
          cursor: pointer


          color: #fff
          text-decoration: none


    &.small
      display: none
      width: 630px
      height: 40px
      line-height: 40px
      text-align: right
      padding: 0px 15px

      @media screen and (max-height: 900px)
        display: block

      &:hover
        background: #2d4a7b

    


    .contacts-content
      font-size: 17px


    .contacts-more-info
      display: none
      font-size: 17px
      .label
        font-size: 24px




  .language-widget
    display: none
    float: right
    width: 80px
    height: 95px
    padding-left: 40px
    padding-top: 25px
    background: rgba(23, 38, 63, 0.25)

    font-family: 'CodePro-Light'
    font-size: 27px
    color: #fafafa
    letter-spacing: 0.2em

    .inactive
      opacity: 0.1


#map
  @media screen and (min-device-width: 320px) and (max-device-width: 568px)
    display: none

#contacts
  width: 450px
  height: 520px
  padding: 55px
  background: #17263f

  color: #fafafa

  position: fixed
  bottom: 0px
  right: 0px

  @media screen and (min-device-width: 320px) and (max-device-width: 568px)
    width: 300px
    position: static
    padding: 55px 0
    margin: 0px auto
    height: 450px


  .label
    font-size: 51px
    font-family: 'CodePro-Bold'
    letter-spacing: 0.2em
    
    margin-bottom: 25px

    @media screen and (min-device-width: 320px) and (max-device-width: 568px)
      font-size: 24px

  .form
    margin-bottom: 25px

    @media screen and (min-device-width: 320px) and (max-device-width: 568px)
      margin-bottom: 50px

    input
      width: 340px
      height: 40px
      background: #fff
      color: #17263f
      font-size: 16px
      padding-left: 10px
      margin-bottom: 10px
      outline: none

      @media screen and (min-device-width: 320px) and (max-device-width: 568px)
        width: 280px

    textarea
      width: 335px
      height: 100px
      padding: 10px
      background: #fff
      color: #17263f
      font-size: 16px
      outline: none
      margin-bottom: 10px

      @media screen and (min-device-width: 320px) and (max-device-width: 568px)
        width: 280px

    .button
      width: 355px
      height: 40px
      background: #b3e79f
      text-align: center
      line-height: 40px
      color: #fff
      font-size: 16px
      font-family: 'HelveticaNeue-Bold'
      cursor: pointer

      @media screen and (min-device-width: 320px) and (max-device-width: 568px)
        width: 300px




  .info
    font-size: 25px
    font-family: 'CodePro-LIght'



