.footer
  .wrapper
    .contacts-widget.big
      .contacts-content
        129226, Москва,
        %br
        Проспект Мира 131/3,
        %br
        %br
        8 495 800 80 80

      %a.contacts-more-info{href: '/contacts'}
        .label Контакты
        %br
        полная информация
        %br
        и схема проезда

    %a.contacts-widget.small{href: '/contacts'}
      .contacts-content
        129226, Москва,
        Проспект Мира 131/3.

        Телефон:
        8 495 800 80 80

    .language-widget
      = 'RU'
      %br
      %br
      .inactive EN