.footer
  .wrapper
    .contacts-widget.big
      .contacts-content
        129226, Москва,
        %br
        Проспект Мира 131/3,
        %br
        %br
        8 495 800 80 80

      .contacts-more-info
        .label Контакты
        %br
        полная информация
        %br
        и схема проезда

    .contacts-widget.small
      .contacts-content
        129226, Москва,
        Проспект Мира 131/3.

        Телефон:
        8 495 800 80 80

    .language-widget
      = 'RU'
      %br
      %br
      .inactive EN