.wrapper
  %ul.bottom-navigation
    %li
      %a{href: root_path} Главная

    %li
      %a{href: '/who-we-are'} Кто мы

    %li
      %a{href: '/how-we-work'} Как мы работаем

    %li
      %a{href: '/contacts'} Контакты

    %li
      %a{href: '/what-we-do'} Что мы делаем

    %li
      %a{href: '/why-zz'} Почему Z&Z

  .footer-logo
    = image_tag 'logo.png'